body{
  position: relative;
  background-color: #f5f4f4;
}

.menu_div_hidden{
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  height: 100vh;
  width: 350px;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

.menu_div_hidden.active {
  transform: translateX(0);
}

.text-justify {
  text-align: justify;
}

.search_box {
  margin-left: -20px;
}

.search_form {
  background-color: rgb(240, 243, 245);
}

/* BANNER SECTION */

.banner_heading_text {
  font-size: 70px;
}

.banner_text_parent {
  background-image: url(../images/banner-1.jpg);
  max-width: 100%;
  background-size: cover;
}

.banner_text_width {
  padding-top: 70px;
  padding-left: 20px;
  width: 60%;
}

.bnr_btn_strat,
.bnr_btn_join {
  padding: 20px 40px;
  border-radius: 30px;
  transition: 0.4s;
}

.bnr_btn_strat:hover {
  background-color: orange !important;
}

.bnr_btn_join:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 157px;
  height: 65px;
  border-radius: 30px;
  background: rgba(167, 165, 165, 0.2);
  z-index: 1;
}

.count_title {
    font-size: 45px;
  }

.count_text {
    font-size: 20px;
  }

.third_card {
  background-color: orange;
}

.card_width {
  height: 100%;
}

.view_btn_hover {
  transition: .3s ease;
}

.view_btn_hover:hover {
  background-color: orange !important;
}

.card_product_img {
  height: 150px;
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
}

.heart_hover{
  transition: .5s ease;
}

.heart_hover:hover{
   background-color: black;
   color: #fff !important;
} 

/* section animation */
.section_animation {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease-out;
}

.section_animation.animate {
  opacity: 1;
  transform: translateY(0);
}


.card {
  border: none;
}

.card_bottom {
  visibility: hidden;
}

.card_hover{
  transition: .3s ease;
  overflow: hidden;
}

.card_hover:hover {
  box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.09);;
}

.card_hover:hover .card_bottom{
  visibility: visible;
}

/* .discount_offer {
  max-height: 500px;
  z-index: 111;
} */

.bnr_ad_img {
  height: 500px;
  width: 100%;
}

.bnr_ad_img-2 {
  height: 242px;
}

.offer_text {
  top: 25%;
  left: 5%;
}

.ad_btn {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
}


.ad_btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(169, 168, 168);
  z-index: 1;
}

.ad_btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%; 
  height: 3px;
  background-color: white;
  transition: width 0.4s ease-in-out; 
  z-index: 2; 
}

.ad_btn:hover::after {
  width: 100%;
}


.swiper-prev1.disabled,
.swiper-next1.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.swiper-prev.disabled,
.swiper-next.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.swiper-prev-2.disabled,
.swiper-next-2.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.swiper-prev-3.disabled,
.swiper-next-3.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.newsletter {
  background-image: url(../images/banner-newsletter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  /* overflow: hidden; */
}

.download_app {
  background-color: #FFC107;
  margin: 0 15px;
  height: 450px;
  border-radius: 30px;
  overflow: hidden;
}

/* .app_right_img {
  height: 90%;
  width: 80%;

} */

.social_links li{
  list-style: none;
}

.social_links .fa-brands{
  padding: 12px 25px 12px 13px;
  font-size: 14px;
}

.social_links li:hover {
  border: none;
  background-color: #EFEFEF;
  border-radius: 7px;
}

.fa-brands:hover {
  color: black !important;
}

.footer_links li {
  list-style: none;
}

.footer_links li a {
  text-decoration: none;
  color: gray;
  margin-left: -28px;
  line-height: 30px;
} 

.cart-img {
  height: 100px;
  width: 100px;
}



/*============== MEDIA QUERY  ===============*/

@media (max-width: 575px) {
  .category_hidden {
    display: none;
  }

  .bnr_btn_strat,
  .bnr_btn_join {
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.4s;
  }

  .banner_text_width .banner_heading_text {
    width: 90%;
    padding-top: 40px;
    font-size: 40px;
  }

  .count_title {
    font-size: 30px;
  }

  .count_text {
    font-size: 18px;
  }

.card_bottom{
  visibility: visible;
}

h2 {
  font-size: 20px !important;
  font-weight: bold;
}

.category_img {
  height: 100px;
  width: 100px;
}

.card_product_img {
  height: 90px;
  width: auto;
  margin: 0 auto;
  padding-top: 10x;
}

.swiper-slide h4 {
  font-size: 15px !important;
}

.cart-img {
  height: 50px;
  width: 50px;
}

.mt_sm{
  margin-top: 10px;
}

.product_small_text {
  font-size: 10px;
  line-height: 0.2px !important;
}

.cart_product_title {
  font-size: 13px;
}
}

@media (min-width: 576px) and (max-width: 768px) {
  .category_hidden {
    display: none;
  }

  .search_box {
    width: 90%;
    margin: 0 auto;
    border: none;
    margin-bottom: 20px;
  }

  .logo_position {
    justify-content: center;
  }

  .banner_heading_text {
    font-size: 40px;
  }

  .bnt_count_text_digit {
    font-size: 25px;
  }

  .count_title {
    font-size: 30px;
  }

  .count_text {
    font-size: 18px;
  }

  .card_bottom{
  visibility: visible;
}
}


/* @media (min-width: 768px) and (max-width: 1200px) {

  
} */

@media (min-width: 992px) {
  .col-lg-5-custom {
    flex: 0 0 20%;
    max-width: 20%;
  }
}